{% extends 'layouts/page.njk' %}

{% block content %}
  {{ appHeading({
    text: heading,
    caption: "Connectivity Tester for APHA"
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-body" data-testid="app-page-body">
        <p>
         This service is used to confirm connectivity to varias resources via the http proxy.  Often used to confirm
         Azure and other internal network resources are routable, and try and help diagnose the problem steps.
        </p>
      </div>
    </div>
  </div>

{% endblock %}
