{% extends 'layouts/page.njk' %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/select/macro.njk" import govukSelect %}

{% block content %}
  {{ appHeading({
    text: heading,
    caption: "Check Connectivity to Proxy then Resource via method CONNECT"
  }) }}

  <form method="get" action="/connections" autocomplete="off" novalidate>

{% from "govuk/components/input/macro.njk" import govukInput %}

{{ govukInput({
  label: {
    text: "Destination server",
    classes: "govuk-label--l",
    isPageHeading: false
  },
  id: "where",
  name: "where"
}) }}
{{ govukInput({
  label: {
    text: "Destination port",
    classes: "govuk-label--l",
    isPageHeading: false
  },
  id: "port",
  name: "port"
}) }}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Test Connection",
          classes: "govuk-button--primary",
          preventDoubleClick: true
        }) }}
      </div>
</form>
<br>
{% endblock %}
